.horizontal {
    position: relative;
    min-width: 100vw;
}

.horizontal__sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontal__track {
    display: flex;
}