.h1,
.h2,
.h3,
.h4 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.h1 {
    font-weight: 700;
    font-size: 3.6rem;
}

.h2 {
    font-weight: 700;
    font-size: 2rem;
}

.h3 {
    font-weight: 500;
    font-size: 2rem;
}

.h4 {
    font-weight: 400;
}

.h2__extra {
    font-size: 4rem;
    line-height: 1.07;
}

@media (max-width: 900px) {
    .h1 {
        font-size: 3rem;
    }

    .h2__extra {
        font-size: 2.75rem;
    }
}

@media (max-width: 480px) {
    .h1 {
        font-size: 2rem;
    }

    .h2__extra {
        font-size: 2.75rem;
    }
}